.ph-BulletinBoard-Background {
	/*background: white;
	background-image: url("Olhie/images/corkboard.jpg");
	background-image: url("Olhie/images/Bulletinboardbackgrnd.png");
	background-repeat: repeat;*/
	background: url("Olhie/images/Homebackground.jpg") no-repeat center
		center fixed;
	webkit-background-size: cover;
	moz-background-size: cover;
	o-background-size: cover;
	background-size: cover;
	overflow: auto;
}

.ph-BulletinBoard-Scrollup {
	width: 40px;
	height: 40px;
	opacity: 0.3;
	position: fixed;
	bottom: 50px;
	right: 250px;
	display: none;
	text-indent: -9999px;
	background: url("Olhie/images/icon_top.png") no-repeat;
}

.ph-BulletinBoard-Widget-HelpVideo-Bkg {
	background-image: url('Olhie/images/login_paper.png');
	background-repeat: repeat;
}

.ph-BulletinBoard-Widget-CurrentStatus-Bkg {
	background-image: url('Olhie/images/error_paper.png');
	background-repeat: repeat;
}

/*
.ph-BulletinBoard-Background {
	background: url("Olhie/images/bulletin-color.png") no-repeat center center fixed;
	webkit-background-size: cover;
	moz-background-size: cover;
	o-background-size: cover;
	background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Olhie/images/bulletin-color.png',
		sizingMethod='scale');
	-ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Olhie/images/bulletin-color.png',
		sizingMethod='scale');
}
*/