.ph-carousel-slider {
  margin: 10px 0;
  width: 400px; /* Update to your slider width */
  height: 300px; /* Update to your slider height */
  position: relative;
  overflow: hidden;
}

.ph-carousel-slider li {
  display: none;
  position: absolute; 
  top: 0; 
  left: 0; 
}

.ph-carousel-caption {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 15px;
	background: #333;
	background: rgba(0, 0, 0, 0.75)
}

.ph-carousel-caption h4,.ph-carousel-caption p {
	line-height: 20px;
	color: #fff
}

.ph-carousel-caption h4 {
	margin: 0 0 5px
}

.ph-carousel-caption p {
	margin-bottom: 0
}