.ph-ChatDialog-Txt {
	border-width: 1px;
	border-color: black;
	border-style: solid;
	margin: 5px;
	padding: 3px;
	height: 380px;
	min-height: 380px;
	overflow-y: auto;
}

.ph-ChatDialog-TxtBox {
	margin: 5px;
	width: 175px;
}

.ph-ChatDialog-BoxShade-Me {
	opacity: 0.8;
	background-color: yellow;
	width: 100%;
	margin-bottom: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	box-shadow: 2px 2px 2px #888888;
}

.ph-ChatDialog-BoxShade-Peer {
	opacity: 0.8;
	background-color: #00FF00;
	width: 100%;
	margin-bottom: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	box-shadow: 2px 2px 2px #888888;
}

.ph-ChatDialog-BoxShade-Server {
	opacity: 0.8;
	background-color: #E68585;
	width: 100%;
	margin-bottom: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	box-shadow: 2px 2px 2px #888888;
}

.ph-ChatDialog-AcceptDialog-Btns {
	margin: 5px;
}