html,body {
	height: 100%;
}

body {
	padding-top: 0 !important
}

.center-background {
	/* background-image: url("Olhie/images/wood.jpg");
	background-repeat: repeat; */
	height: 100%;
	width: 100%;
}

.center-main-transparent {
	background: transparent;
}

.east-background {
	background-image: url("Olhie/images/paper.png");
	background-repeat: repeat;
}

.footer-background {
	background-image: url("Olhie/images/grey_wash_wall.png");
	background-repeat: repeat;
}

.footer-style {
	font-family: 'Swanky and Moo Moo', cursive;
	font-size: 16px;
	line-height: 1EM;
	width: 200px;
	margin: 0 auto;
	text-align: center;
}

/* Section with sidebar menu */
.section.menu {
	background-image: url("Olhie/images/paper.png");
	background-repeat: repeat;
	border-right: 1px solid #DEDEDE;
	display: block;
	float: left;
	height: 100%;
	left: 0;
	position: fixed;
	width: 90px;
}

.cbg-RatingWidgetItem {
	margin-left: 1px;
}

.cbg-ratingwithtext {
	font-size: 8pt;
}

/* Header */
.header-background {
	background-image: url("Olhie/images/grey_wash_wall.png");
	background-repeat: repeat;
}

.header-North-NavContainer {
	border-bottom-color: black;
	border-bottom: 1px;
	border-bottom-style: solid;
}

.header-North-Overflow {
	overflow: visible !important;
}

.header-North-PersonDropDown-Hide {
	width: 0px;
	visibility: hidden;
}

.header-North-PersonDropDown-Show {
	visibility: visible;
}

.header-North-LoginLink-Hide {
	width: 0px;
	visibility: hidden;
}

.header-North-LoginLink-Show {
	visibility: visible;
}

.header-North-RegisterLink-Hide {
	width: 0px;
	visibility: hidden;
}

.header-North-RegisterLink-Show {
	visibility: visible;
}

.header-North-RegBookAddDivider-Hide {
	width: 0px;
	visibility: hidden;
}

.header-North-RegBookAddDivider-Show {
	visibility: visible;
}

.header-North-AddBookPersonDivider-Hide {
	width: 0px;
	visibility: hidden;
}

.header-North-AddBookPersonDivider-Show {
	visibility: visible;
}

.header-North-AddBookLink-Hide {
	width: 0px;
	visibility: hidden;
}

.header-North-AddBookLink-Show {
	visibility: visible;
}

.FlexTable-OddRow {
	/*background-color: #cccccc;*/
}

.FlexTable-EvenRow {
	/*background-color: #505050;*/
}