.ph-NewBook-Background {
	background: url("Olhie/images/newbookbkgrnd.jpg") no-repeat center
		center fixed;
	webkit-background-size: cover;
	moz-background-size: cover;
	o-background-size: cover;
	background-size: cover;


.ph-NewBook-Container {
	overflow: auto;
}

.ph-NewBook-Container-Intro-Column {
	float: left;
	width: 37%;
	margin-left: 2%
}

.ph-NewBook-Container-TOC-Column {
	float: right;
	width: 57%;
	margin-right: 2%;
}

.ph-NewBook-BookTitle {
	text-align: center;
	font-family: 'Source Code Pro';
	/*font-family: "Swanky and Moo Moo", cursive;*/
	font-size: 28px;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 0px;
	color: white;
}

.ph-NewBook-Author {
	text-align: center;
	font-family: 'Source Code Pro';
	/*font-family: "Swanky and Moo Moo", cursive;*/
	font-size: 18px;
	font-weight: bold;
	color: white;
}

.ph-NewBook-Created-Published-Category-Row {
	margin-bottom: 10px;
}

.ph-NewBook-Created-Published-Category {
	text-align: center;
	font-family: 'Source Code Pro';
	/*font-family: "Swanky and Moo Moo", cursive;*/
	font-size: 18px;
	font-weight: bold;
	color: white;
}

.ph-NewBook-Introduction-Hero-Introduction-Header {
	font-family: 'Source Code Pro';
	/*font-family: "Swanky and Moo Moo", cursive;*/
	font-size: 24px;
}

.ph-NewBook-Introduction-Hero-TOC-Header {
	font-family: 'Source Code Pro';
	/*font-family: "Swanky and Moo Moo", cursive;*/
	font-size: 24px;
	margin-bottom: 20px;
}

.ph-NewBook-TOC-Element-Container {
	float: right;
}

.ph-NewBook-TOC-Add-Element-Container {
	float: right;
}

.ph-NewBook-TOC-Table {
	width: 100%;
}

.ph-NewBook-TOC-NumberCol {
	text-align: right;
	width: 25px;
	padding-right: 10px;
	vertical-align: top;
	font-weight: bold;
}

.ph-NewBook-TOC-IconCol {
	width: 25px;
	padding-right: 10px;
	vertical-align: top;
}

.ph-NewBook-TOC-DescriptionCol {
	width: 75%;
}

.ph-NewBook-TOC-ButtonsCol {
	text-align: left;
}

.ph-NewBook-TOC-Container {
	float: left;
	width: 90%;
	overflow-y: auto;
}

.ph-NewBook-Introduction-Hero-IntroductionTxt {
	font-family: 'Source Code Pro';
	/*font-family: "Swanky and Moo Moo", cursive;*/
	font-size: 16px;
	padding: 15px;
	width: 90%;
	height: 90%;
	float: left;
	margin: 0 auto;
	background-color: #fff;
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px
		rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px
		rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px
		rgba(0, 0, 0, 0.1);
}

.ph-NewBook-Introduction-Hero-IntroductionTxt:before,.ph-NewBook-Introduction-Hero-IntroductionTxt:after {
	position: absolute;
	width: 40%;
	height: 10px;
	content: ' ';
	left: 12px;
	bottom: 12px;
	background: transparent;
	-webkit-transform: skew(-5deg) rotate(-5deg);
	-moz-transform: skew(-5deg) rotate(-5deg);
	-ms-transform: skew(-5deg) rotate(-5deg);
	-o-transform: skew(-5deg) rotate(-5deg);
	transform: skew(-5deg) rotate(-5deg);
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	z-index: -1;
}

.ph-NewBook-Introduction-Hero-IntroductionTxt:after {
	left: auto;
	right: 12px;
	-webkit-transform: skew(5deg) rotate(5deg);
	-moz-transform: skew(5deg) rotate(5deg);
	-ms-transform: skew(5deg) rotate(5deg);
	-o-transform: skew(5deg) rotate(5deg);
	transform: skew(5deg) rotate(5deg);
}

.ph-NewBook-Modal {
	background-image: url("Olhie/images/register_paper.png");
	background-repeat: repeat;
}

/*Used in Register Modal */
.ph-NewBook-Modal-Size {
	width: 900px; /* SET THE WIDTH OF THE MODAL */
	margin-left: -450px;
	/* CHANGE MARGINS TO ACCOMODATE THE NEW WIDTH (original = margin: -250px 0 0 -280px;) */
	max-height: 800px;
}

.ph-NewBook-BookdescriptionDetail-Modal-Size {
	width: 500px; /* SET THE WIDTH OF THE MODAL */
	margin-left: -250px;
	/* CHANGE MARGINS TO ACCOMODATE THE NEW WIDTH (original = margin: -250px 0 0 -280px;) */
	max-height: 800px;
}

.ph-NewBook-Modal-Form {
	height: 380px;
	padding-bottom: 10px;
	padding-top: 10px;
}

.ph-NewBook-Error-Msg {
	color: red;
	font-size: smaller;
}

.ph-NewBook-BookImagePanel {
	width: 40px;
	height: 50px;
	margin-right: 10px;
}

.ph-NewBook-BookImagePanel-Large {
	width: 60px;
	height: 80px;
	/*margin-right: 10px;*/
	background-color: white;
}

.ph-NewBook-BookImagePanel-Large-Binder {
	float: left;
	width: 2px;
	height: 80px;
	border-right: 1px solid black;
}

.ph-NewBook-BookDesign {
	padding: 10px;
}

.ph-NewBook-BookDesign-Frame {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #2E1A12;
	border-image: url("Olhie/images/wood1.png") 100 100 100 100;
	border-style: solid;
	border-width: 20px;
	box-shadow: 1px 1px 10px #000000;
	float: left;
	margin: 10px;
	width: 60px;
	height: 75px;
}

.ph-NewBook-NewAssetDialog-Add-Elements {
	/*border: 1px solid #000;*/
	display: inline-block;
	text-align: center;
	margin: 15px;
	cursor: pointer;
}

.ph-NewBook-NewAssetDialog-AssetTypesPanel {
	text-align: center;
}

.ph-NewBook-AddFileDialog-ProgressLabel {
	font-family: Arial, sans-serif;
	font-size: 12px;
}

.ph-NewBook-AddFileDialog-NoFileToUploadErr {
	color: red;
}

.ph-NewBook-Published-CB {
	opacity: 100%;
}

.ph-NewBook-EditCurrentBook-Button-Container {
	float: right;
	margin-right: 15px;
	margin-top: 6px;
}

.ph-NewBook-EditCurrentBook-Rating-Container {
	float: left;
	margin-right: 20px;
	margin-top: 6px;
}

.ph-NewBook-BookCover-SplitButton {
	overflow-y: auto;
	height: 200px;
}

.ph-NewBook-RatingLabel-Container {
	float: left;
	padding-right: 5px;
	padding-top: 4px;
}

.ph-NewBook-RatingWidget-Container {
	float: right;
	padding-right: 5px;
	padding-top: 4px;
}

.ph-NewBook-Hero {
	padding-top: 20px !important;
	padding-bottom: 20px !important;
	padding-left: 20px !important;
	padding-right: 20px !important;
}

.ph-NewBook-ViewComments-CommentsContainer {
	height: 350px;
	overflow-y: auto;
}

.ph-NewBook-ViewComments-BoxShade {
	background-color: #BCF1F0;
	width: 95%;
	margin-bottom: 5px;
	padding: 10px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	box-shadow: 2px 2px 2px #888888;
}

.ph-NewBook-ItemsListBox {
	padding: 15px;
	width: 95%;
	float: left;
	margin: 0 auto;
	background-color: #fff;
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px
		rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px
		rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px
		rgba(0, 0, 0, 0.1);
}

.ph-NewBook-ItemsListBox:before,.ph-NewBook-ItemsListBox:after {
	position: absolute;
	width: 40%;
	height: 10px;
	content: ' ';
	left: 12px;
	bottom: 12px;
	background: transparent;
	-webkit-transform: skew(-5deg) rotate(-5deg);
	-moz-transform: skew(-5deg) rotate(-5deg);
	-ms-transform: skew(-5deg) rotate(-5deg);
	-o-transform: skew(-5deg) rotate(-5deg);
	transform: skew(-5deg) rotate(-5deg);
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	z-index: -1;
}

.ph-NewBook-ItemsListBox:after {
	left: auto;
	right: 12px;
	-webkit-transform: skew(5deg) rotate(5deg);
	-moz-transform: skew(5deg) rotate(5deg);
	-ms-transform: skew(5deg) rotate(5deg);
	-o-transform: skew(5deg) rotate(5deg);
	transform: skew(5deg) rotate(5deg);
}

/*
.ph-NewBook-ItemsListBox-BookItem {
	padding-bottom: 10px;
	width: 100%;
	float: left;
	margin: 0 auto;
	cursor: pointer;
	background-color: #fff;
}
*/

.ph-NewBook-ItemsListBox-BookItem {
	cursor: pointer;
	width: 95%;
	padding: 10px;
	margin-bottom: 10px;
	font-family: 'Source Code Pro';
	font-size: 16px;
}

.ph-NewBook-ItemsListBox-BookItem-Highlight {
	background-color: #BDBDCF;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	box-shadow: 2px 2px 2px #888888;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
