.ph-NewBook-Container {
	overflow: auto;
}

.ph-NewBook-Container-Intro-Column {
	float: left;
	width: 37%;
	margin-left: 2%
}

.ph-NewBook-Container-TOC-Column {
	float: right;
	width: 57%;
	margin-right: 2%;
}

.ph-NewBook-BookTitle {
	text-align: center;
	font-family: "Swanky and Moo Moo", cursive;
	font-size: 28px;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 0px;
}

.ph-NewBook-Author {
	text-align: center;
	font-family: "Swanky and Moo Moo", cursive;
	font-size: 18px;
	font-weight: bold;
}

.ph-NewBook-Created-Published-Category-Row {
	margin-bottom: 10px;
}

.ph-NewBook-Created-Published-Category {
	text-align: center;
	font-family: "Swanky and Moo Moo", cursive;
	font-size: 18px;
	font-weight: bold;
}

.ph-NewBook-Introduction-Hero-Introduction-Header {
	font-family: "Swanky and Moo Moo", cursive;
	font-size: 24px;
}

.ph-NewBook-Introduction-Hero-TOC-Header {
	font-family: "Swanky and Moo Moo", cursive;
	font-size: 24px;
}

.ph-NewBook-TOC-Element-Container {
	float: right;
}

.ph-NewBook-TOC-Add-Element-Container {
	float: right;
}

.ph-NewBook-TOC-Table {
	width: 100%;
}

.ph-NewBook-TOC-NumberCol {
	text-align: right;
	width: 25px;
	padding-right: 10px;
	vertical-align: top;
	font-weight: bold;
	
}

.ph-NewBook-TOC-DescriptionCol {
	width: 805%;
}

.ph-NewBook-TOC-Container {
	float: left;
	width: 85%;
	overflow-y: auto;
}

.ph-NewBook-Introduction-Hero-IntroductionTxt {
	font-family: "Swanky and Moo Moo", cursive;
	font-size: 16px;
}

.ph-NewBook-Modal {
	background-image: url("Olhie/images/register_paper.png");
	background-repeat: repeat;
}

/*Used in Register Modal */
.ph-NewBook-Modal-Size {
	width: 900px; /* SET THE WIDTH OF THE MODAL */
	margin-left: -450px;
	/* CHANGE MARGINS TO ACCOMODATE THE NEW WIDTH (original = margin: -250px 0 0 -280px;) */
	max-height: 800px;
}

.ph-NewBook-Error-Msg {
	color: red;
	font-size: smaller;
}

.ph-NewBook-BookImagePanel {
	width: 40px;
	height: 50px;
	margin-right: 10px;
}

.ph-NewBook-BookImagePanel-Large {
	width: 60px;
	height: 75px;
	/*margin-right: 10px;*/
	background-color: white;
}

.ph-NewBook-BookImagePanel-Large-Binder {
	float: left;
	width: 10px;
	height: 75px;
	border-right: 1px solid black;
}

.ph-NewBook-BookDesign {
	padding: 10px;
}

.ph-NewBook-BookDesign-Frame {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #2E1A12;
	border-image: url("Olhie/images/wood1.png") 100 100 100 100;
	border-style: solid;
	border-width: 20px;
	box-shadow: 1px 1px 10px #000000;
	float: left;
	margin: 10px;
	width: 60px;
	height: 75px;
}

.ph-NewBook-NewAssetDialog-Add-Elements {
	/*border: 1px solid #000;*/
	display: inline-block;
	margin: 15px;
	cursor: pointer;
}

.ph-NewBook-NewAssetDialog-AssetTypesPanel {
	text-align: center;
}

.ph-NewBook-AddFileDialog-ProgressLabel {
    font-family: Arial, sans-serif;
    font-size: 12px;
}

.ph-NewBook-AddFileDialog-NoFileToUploadErr {
	 color: red;
}