.ph-Register-Modal {
	background-image: url("Olhie/images/register_paper.png");
	background-repeat: repeat;
}

/*Used in Register Modal */
.ph-Register-Modal-Size {
	width: 900px; /* SET THE WIDTH OF THE MODAL */
	margin: -250px 0 0 -450px;
	/* CHANGE MARGINS TO ACCOMODATE THE NEW WIDTH (original = margin: -250px 0 0 -280px;) */
	max-height: 800px;
}