.starrating-active-unmarked {
	background: url('Olhie/images/star_active_20px.gif') no-repeat;
}

.starrating-active-marked {
	background: url('Olhie/images/star_active_marked_20px.gif') no-repeat;
}

.starrating-inactive-unmarked {
	background: url('Olhie/images/star_grey_20px.gif') no-repeat;
}

.starrating-inactive-marked {
	background: url('Olhie/images/star_grey_marked_20px.gif') no-repeat;
}

.starrating {
	height: 20px;
	padding: 0px;
	margin: 0px;
	white-space: nowrap;
	vertcial-align: top;
}

.starrating span {
	width: 20px;
	height: 20px;
	vertical-align: top;
	padding-left: 20px; /* prevent firefox from shrinking to 0px */
}

.starrating-label {
	font-size: 12px;
	display: inline;
	vertical-align: top;
	margin-left: 3px;
	margin-right: 3px;
	padding: 0px;
}

.starrating-indicator-show {
	width: 20px;
	height: 20px;
	display: inline;
	visibility: visible;
}

.starrating-indicator-hidden {
	width: 20px;
	height: 20px;
	display: inline;
	visibility: hidden;
}